@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply overflow-x-hidden bg-slate-50 text-slate-900 antialiased;
  }
}

button,
input,
select {
  font: inherit;
}

@media print {
  body {
    background: white;
  }

  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    color-adjust: exact;
    print-color-adjust: exact;
  }
}
